nav {
  width: 20%;
  overflow: auto;
  height: 100vh;
  background-color: #2b2d42;
  color: white;
  display: inline-block;
}

.nav-box {
  text-decoration: none;
  display: flex;
  width: 216px;
  align-items: center;
  padding: 15px 20px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.15s;
}

.nav-box,
.nav-box:link,
.nav-box:visited,
.nav-box:hover,
.nav-box:active {
  text-decoration: none;
  color: white;
}

.nav-box:active {
  background-color: #7a8495;
}

.nav-box:hover {
  background-color: #7a8495;
}

.ptitle {
  font-size: 18px;
  background-color: #1d242e;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 30px;
  font-weight: bold;
}

.acc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 500px;
  padding: 25px 25px;
}

.contact-icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.admin {
  color: #42fe00;
  font-size: 11px;
}

.menu {
  height: 30px;
  width: 30px;
}

.accl {
  display: flex;
  align-items: center;
}

.nav-box svg {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.real-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-bottom {
  border-top: 0.2px solid white;
  width: 256px;
}

.count {
  background-color: #f0483e;
  color: white;
  font-size: 10px;
  padding: 5px;
  border-radius: 50%;
}